---
title: JS MV&#x2605;
---

%section
  %hgroup
    %h1 JS MV&#x2605;
    %p - or -
    %h3 Cleaner Code with Separation of Concerns

%section
  %h2 What is MV*?

  %dl
    .fragment
      %dt Models
      %dd Data containers and business logic
    .fragment
      %dt Views
      %dd Data representation and user input
    .fragment
      %dt Controlers, Presenters, View Models, etc.
      %dd Whatever glue the framework chooses to use

%section
  %h2 Why MV*?

  %ul
    %li.fragment Easier to write
    %li.fragment Easier to understand
    %li.fragment Easier to test

%section
  %h2 How?

  :code
    $(document).ready(function() {
      $('#new-status').submit(function(e) {
        e.preventDefault();

        $.ajax({
          url: '/status',
          type: 'POST',
          dataType: 'json',
          data: { text: $(this).find('textarea').val() },
          success: function(data) {
            $('#statuses').append('<li>' + data.text + '</li>');
            $(this).find('textarea').val('');
          }
        });
      });
    });

%section= partial 'separation'

%section= partial 'view'

%section= partial 'events'
